.all-tasks > h2,
.pending > h2,
.completed > h2,
.single-task > h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  color: #fff;
}
.no-tasks{  font-size: 1.3rem;
  color: #fff;
  text-align: center;
}
.no-tasks a{
  font-size: 1.3rem;
  color: gold;
}
.test-task {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 31%);
  color: white;
  gap: 1.5rem;
}
.task {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.7rem;
  background-color: #fff;
  height: 200px;
  color: #333;
  border-radius: 15px;
  box-shadow: 2px 3px 10px;
}
.task #task-title {
  text-transform: capitalize;
  color: navy;
}
.task #task-details,
.task #task-title {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.task .actions {
  bottom: 1rem;
  display: flex;
  align-items: center;
}
.task .actions button {
  background-color: navy;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}
.task .icons {
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: .8rem;
}
.task .del {
  color: red;
}
.task .pend {
  color: gold;
}
.task .comp {
  color: green;
}
.task .del:hover {
  color: #760000;
}

@media screen and (max-width: 900px) {
  .all-tasks > h2,
  .pending > h2,
  .completed > h2 {
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
  }
  .no-tasks{  
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
  }
  .no-tasks a{
    font-size: 1.2rem;
    color: gold;
  }
  .test-task {
    grid-template-columns: repeat(2, 48%);
  }
  .task{
    height: 180px;
  }
  .task .actions button {
    padding: 3.5px 5px;
    font-size: .9rem;
  }
  .task .icons {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .all-tasks > h2,
  .pending > h2,
  .completed > h2,
  .single-task > h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .no-tasks{  
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
  }
  .no-tasks a{
    font-size: 1.3rem;
    color: gold;
  }
  .test-task {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .task .actions button {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .task .icons {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
}
