.all-tasks>h2, .pending>h2, .completed>h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}
h3{
    text-align: center;
}
.test-task{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    color: white;
    gap: 1.5rem;
}
.task{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .7rem;
    background-color: #fff;
    min-height: 200px;
    color: #333;
    border-radius: 15px;
    box-shadow: 2px 3px 10px ;
    position: relative;
}
.task #task-details, .task #task-title{
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.task .actions{
    position: absolute;
    bottom: 1rem; 
    display: flex;
    align-items: center;
    gap: 2rem;
}
.task .actions button{
    background-color: navy;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.task .icons{
    color: navy;
    font-size: 1.5rem;
    color: red;
}

@media  screen and (max-width:850px) {
    .all-tasks>h2, .pending>h2, .completed>h2{
        font-size: 1.7rem;
        margin-bottom: 1.2rem;
    }
    h3{
        font-weight: 400;
    }
    .test-task{
        grid-template-columns: repeat(2, 48%);
    }
    .task .actions button{
        padding: 3.5px 7px;
    }
    .task .icons{
        font-size: 1.3rem;
    }
}

@media  screen and (max-width: 400px){
    .all-tasks>h2, .pending>h2, .completed>h2{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    h3{
        text-align: center;
    }
    .test-task{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .task .actions{
        position: absolute;
        bottom: 1rem; 
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    .task .actions button{
        padding: 4px 8px;
        border-radius: 5px;
    }
    .task .icons{
        font-size: 1.3rem;
    }
}