.App #title {
  font-size: 3rem;
  text-align: center;
}
.App header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: navy;
  color: gold;
  padding: 1rem 0;
}
.menu {
  display: none;
}
.App .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.content .sidebar-container {
  grid-column: 1/2;
  background-color: #2c2c2c;
  color: #c0c0c0;
}
.content .tasks-container {
  background-color: #515151;
  color: #333;
  grid-column: 2/5;
  padding: 2.5rem 0 1rem;
  background-image: url("/src/imgs/modern-futuristic-sci-fi-background.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

@media screen and (max-width: 900px) {
  .App #title {
    font-size: 2.5rem;
  }
  .App .content {
    grid-template-columns: repeat(3, 1fr);
  }
  .content .sidebar-container {
    grid-column: 1/2;
  }
  .content .tasks-container {
    grid-column: 2/4;
    background-image: url("/src/imgs/halftone-background-with-circles_.avif");
  }
}

@media screen and (max-width: 450px) {
  .App header {
    padding: 1rem;
    justify-content: space-between;
  }
  .App #title {
    font-size: 1.5rem;
    text-align: center;
  }
  .menu {
    display: block;
    font-size: 1.5rem;
  }
  .App .content {
    display: flex;
  }
  .sidebar-container {
    display: none;
    width: 50%;
  }
  .content .tasks-container {
    width: 100%;
    min-height: 100vh;
    padding: 1rem 0 1rem;
    background-image: url("/src/imgs/mobile-bg.jpg");
  }
  .toggle-menu {
    display: block;
    position: absolute;
    z-index: 10;
  }
}
