*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App .content{
  /* TODO: Uncomment to make display grid */
 /*   display: grid;
  grid-template-columns: repeat(4, 1fr); */
  width: 95%;
  margin: 0 auto;
}
.content .sidebar-container{
  background-color: rgb(139, 133, 146);
}
.content .tasks-container{
  grid-area: 'tsk';
  /* background-color: rgb(145, 145, 151); */
  grid-column: 2/5;
  text-align: center;
}
.content .sidebar{
  width: 100%;
  margin: 0 auto;
  color: rgb(52, 42, 42);
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
